{{> header}}
<main>
  <h1>Welcome to the Taylor Swift Lyric Finder!</h1>
  
  <form action="/api/search" method="GET">
    <label for="songTitle">Song Title</label>
    <input type="text" name="songTitle" id="songTitle" required>
    <button class="btn">Search</button>
  </form>

  {{#if error}}
    <p class="error">{{error}}</p>
  {{/if}}

</main>
